.event {
    background-color: #eee;
    width: 1000px;
}
.event .inner {
    padding: 0 50px;
}
.event .event-main-logo{
    margin-bottom: 200px;
}
.event .event-box {
    width: 100%;
    /* height: auto; */
    height: 2000px;
    box-shadow: 0 20px 40px rgba(20, 20, 21, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 100px;
}
.event .event1{
    background: #C1ADFB;
    border-radius: 100px 0 100px 0;
}
.event .event1 .event1-main{
    position: relative;
}
.event .event1 .event1-main img:last-child{
    position: absolute;
    top: 47.9%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.event .event-button{
    margin-top: 100px;
    background-color: #6c3bff;
    width: 250px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
}
.event-title{
    width: 65%;
    margin-bottom: 100px;
}
.event .event-title img{
    width: 100%;
}
.event .event2{
    background: #ECA79D;
    border-radius: 100px 0 100px 0;
}

.event .event2 .event-info{
    width: 100%;
    height: 700px;
}
.event .event2 .event-info .event-info-titles{
    width: 100%;
    height: 70px;
    display: flex;
}
.event .event2 .event-info .event-info-title{
    width: 170px;
    height: 70px;
    background: #ff6149;
    border-radius: 30px 30px 0 0;
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    color: #fff;
}
.event .event2 .event-info .event-info-title:hover{
    background: #ffcac2;
    color: #000;
}
.event .event2 .event-info .event-info-box{
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 0 50px 50px 50px;
}