/* 미니 필름 */
@charset "utf-8";
.mini {
  margin: 0 auto;
  height: 1080px;
  position: relative;
}
.mini::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#c0adb000, #90deff, #90deff, #c0adb000);
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}
.mini-active::before {
  opacity: 1;
}
.mini .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  /* align-items: flex-end; */
}
.mini-circle {
  position: relative;
  width: 43%;
  border-radius: 500px;
  background-color: #fff;
}
.mini-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.mini-film {
  position: absolute;
  width: 25%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(0); /* 초기 위치 */
}

.mini-film img {
  width: 100%;
}

/* .mini active */
.mini-active .mini-film {
  opacity: 1;
}

.mini-film1 {
  top: 60%;
  left: 29%;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}
.mini-film1-active {
  top: 4% !important;
  opacity: 1 !important;
}

.mini-film2 {
  top: 4%;
  left: 33%;
  opacity: 0;
  transform-origin: 50% 200%;
  transform: rotate(0deg) translateY(0px); /* 시작 위치와 약간 이동 */
  /* transition-delay: 0.5s; 딜레이 추가 */
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.mini-film2-active {
  left: 33% !important;
  top: 7% !important;
  transform-origin: 50% 200% !important;
  opacity: 1 !important;
  transform: rotate(20deg) translateY(-14px) !important;
}

.mini-film3 {
  top: 4%;
  left: 29%;
  opacity: 0;
  transform-origin: 50% 200%;
  transform: rotate(0deg) translateY(0px);
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.mini-film3-active {
  top: 4%;
  left: 29%;
  opacity: 1;
  transform-origin: 50% 200%;
  transform: rotate(53deg) translateY(0px);
}
.mini-film4 {
  top: 4%;
  left: 29%;
  opacity: 0;
  transform-origin: 40% 200%;
  transform: rotate(0deg) translateY(0px);
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}
.mini-film4-active {
  top: 4%;
  left: 29%;
  opacity: 1;
  transform-origin: 40% 200%;
  transform: rotate(75deg) translateY(0px);
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.mini-film5 {
  top: 4%;
  left: 29%;
  opacity: 0;
  transform-origin: 33% 200%;
  transform: rotate(0deg) translateY(0px);
  transition: top 0.5s, opacity 0.5s, transform 0.5s;
}

.mini-film5-active {
  top: 4%;
  left: 29%;
  opacity: 1;
  transform-origin: 33% 200%;
  transform: rotate(97deg) translateY(0px);
}
.mini-camera {
  position: absolute;
  width: 84%;
  top: -15%;
  left: -5%;
  transform: translateY(61%);
  z-index: 99;
}
.mini-camera img {
  width: 100%;
}
.mini-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.mini-text h1 {
  font-size: 3vw;
  font-weight: 800;
  color: black;
}
.mini-text h4 {
  margin-top: 40px;
  padding: 10px 0px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #636363;
}

@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
  .mini .inner {
    flex-wrap: wrap;
    text-align: center;
  }
  .mini-circle {
    order: 2;
    width: 100%;
  }
  .mini-text {
    order: 1;
    width: 100%;
  }
  .mini-text h1 {
    font-size: 5vw;
  }
  .mini-text h4 {
    font-size: 2vw;
  }
}
@media all and (max-width: 480px) {
  .mini .inner {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
  }
}
