/* 영상 */
.movie {
    height: 1080px;
  }
  .movie-active {
    transition: background 0.5s;
    background-color: #c1adfb;
  }
  .movie .inner {
    position: relative;
    height: 1080px;
  }
  video {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px;
  }
  
  @media all and (max-width: 1680px) {
  }
  
  @media all and (max-width: 1280px) {
  }
  @media all and (max-width: 1024px) {
  }
  @media all and (max-width: 760px) {
  }
  @media all and (max-width: 480px) {
  }
  