/* 스퀘어 필름 */
.square {
    height: 800px;
    background-color: #FAA489;
}
.square .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.square-circle {
  position: relative;
  width: 43%;
  border-radius: 500px;
  background-color: #fff;
}
.square-circle::after{
   content: "";
   display: block;
   padding-bottom: 100%;
  
}
  .square-point img{
    position: absolute;
    top:8%;
    right:65% ;
    z-index: 99;
  }
  .square-point2 img {
    position: absolute; 
    top:70%;
   right:75%;
    z-index: 99999999;
  }

.square-point-text{
   width: 50%;
    position: absolute;
    color: #000000;
    font-size: 1.3vw;
   font-weight: 400;
   top: 25%;
   right: 70%;
  }
  .square-point-text2{
    width: 50%;
    position: absolute;
    color: #000000;
    font-size: 1.3vw;
   font-weight: 400;
   top: 64%;
   right:75%;
  }
  .square-camera {
  position: absolute;
    width: 84%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
  .square-camera img {
    width: 100%;
  }
  .square-text{
    top: 137px;
    right: 102%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .square-text h1{
  font-size: 3vw;
  font-weight: 800;
  color: black;
}
.square-text h4{
  margin-top: 40px;
  padding: 10px 0px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #ffffff;
}
.square-film{
  position: absolute;
  top: -5%;
  left: 53%;
  transform: translateX(-50%);
}
.square-film img{
  width: 100%;
}

@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
<section class="mini">
        <div class="inner">
          <div class="mini-circle">
            <div class="mini-film">
              <img src="images/film-mini-contact-sheet.png" alt="">
             </div>
             <div class="mini-film2">
              <img src="images/film-mini-confetti.png" alt="">
             </div>
             <div class="mini-film3">
              <img src="images/film-mini-blue-marble.png" alt="">
             </div>
             <div class="mini-film4">
              <img src="images/film-mini-mermaid-tail.png" alt="">
             </div>
             <div class="mini-film5">
              <img src="images/film-mini-rainbow.png" alt="">
             </div>
             <div class="mini-camera">
              <img src="images/camera_12_05.png" alt="">
            </div>
          </div>
          <div class="mini-text">
            <h1>다양한 디자인의  <br> 필름을 만나보세요.</h1>
            <h4>필름마다 담긴 느낌과 분위기로 <br>표현하고 싶은 순간을 특별히 담을 수 있습니다. <br>여러가지 선택 속에서 나만의 감성을 찾아보세요.</h4>
          </div>
          
        </div>
      </section> 

      <section class="wide">
      <div class="inner">
          <div class="wide-point">
            <img src="images/wide-point2.png" alt="">  
            <span class="wide-point-text">WIDE 300</span>
          </div>
            <div class="wide-point2">
            <img src="images/wide-point.png" alt="">
            <span class="wide-point-text2">wide film</span>
        </div>
          <div class="wide-bg">
           <div class="wide-circle">
            <img src="images/Mask group.png" alt=""> 
          </div>
          </div> 
          <div class="wide-camera-wrap">
            <div class="wide-film"> 
              <img src="images/pic_example_04.webp" alt="">
            </div>
            <div class="wide-camera">
              <img src="images/camera_08_02.png"  alt="">
            </div>
          </div>  
