/* 스퀘어 필름 */
.square {
    height: 1080px;
    position: relative;
}
.square::before{
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#c0adb000,#FAA489,#FAA489,#c0adb000);
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}
.square-active::before{
  opacity: 1;
}
.square .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.square-circle {
  position: relative;
  width: 43%;
  border-radius: 500px;
  background-color: #fff;
}
.square-circle::after{
   content: "";
   display: block;
   padding-bottom: 100%;
  
}
  .square-point img{
    position: absolute;
    top:8%;
    right:65% ;
    z-index: 99;
  }
  .square-point2 img {
    position: absolute; 
    top:70%;
   right:75%;
    z-index: 99999999;
  }

.square-point-text{
   width: 50%;
    position: absolute;
    color: #000000;
    font-size: 1.3vw;
   font-weight: 400;
   top: 25%;
   right: 70%;
  }
  .square-point-text2{
    width: 50%;
    position: absolute;
    color: #000000;
    font-size: 1.3vw;
   font-weight: 400;
   top: 64%;
   right:75%;
  }
  .square-camera {
  position: absolute;
    width: 84%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
  }
  .square-camera img {
    width: 100%;
  }
  .square-text{
    top: 137px;
    right: 102%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .square-text h1{
  font-size: 3vw;
  font-weight: 800;
  color: black;
}
.square-text h4{
  margin-top: 40px;
  padding: 10px 0px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #ffffff;
}
.square-film{
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translateX(-50%);
  transition-duration: 1s;
}
.square-film img{
  width: 100%;
}
/* .square active */
.square-active .square-film {
top: -18%;
}
/* 반응형 디자인 */
@media all and (max-width: 1680px) {
}

@media (max-width: 1280px) {
  .square .inner {
    flex-direction: column;
    align-items: center; 
    top: 20%;
    margin-top: 20px;
  }
  .square-circle {
    width: 70%;
  }
  .square-text h1 {
    font-size: 5vw;
   
  }
  .square-text h4 {
    font-size: 2vw;
  }
  .square-point,
  .square-point2 {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .square-point2 {
    bottom: 10%;
  }
  .square-point-text,
  .square-point-text2 {
    font-size: 3vw;
  }
  .square-camera {
    top: 10%;
  }
}
@media all and (max-width: 1024px) {
}

@media (max-width: 760px) {
  .square .inner{
    margin-top: 170px;
  }
  .square {
    height: auto;
  }
  .square-circle {
    width: 90%;
    top: 50%;
    margin: 27%;
  }
  .square-point,
  .square-point2 {
    position: static;
    transform: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
  }
  .square-point-text,
  .square-point-text2 {
    font-size: 3vw;
    display: block;
    margin-top: 5px;
    right: 72%;
  }
  .square-camera {
    top: 20%;
  }
  .square-text {
    text-align: center;
    margin: 30px auto;
  }
  .square-film {
    top: 40%;
  }
}
@media all and (max-width: 480px) {
  .wide .inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
  }
}


