/* 와이드 필름 */
.wide {
  height: 1080px;
  background-color: #e5dfe2;
  display: block;
}
.wide .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wide-circle {
  position: relative;
  width:45%;
  border-radius: 500px;
  background-color: #fff;
  left: 10%; 
  background: url("../images/film-wide.GIF") no-repeat;
  background-size: cover;
}
.wide-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  left: 50%;  
}
.wide-point {
  position: absolute;
  left: 34%;
  bottom: -4%;
  z-index: 999;
  
}
.wide-point2 {
  position: absolute;
  top: -1%;
  left: -9%;
  z-index: 1;
}
.wide-point-text {
  position: absolute;
  color: #000000;
  font-size: 1.3vw;
  font-weight: 400;
  top: 46px;
  right: -125px;
}
.wide-point-text2 {
  position: absolute;
  color: #000000;
  font-size: 1.3vw;
  font-weight: 400;
  top: -47px;
  left: -47px;
  width: 100px;
}

.wide-camera {
  position: absolute;
  width: 84%;
  top: -1%;
  left: -31%;
  transform: translateY(61%);
  z-index: 99;
}
.wide-camera img {
width: 100%;
}
.wide-film{
  position: absolute;
  width: 40%;
  left: -5%;
  top: 60%;
  transition-duration: 1s;
}
.wide-film img{
  width: 100%;
}
.wide-text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.wide-text h1 {
  color: #000000;
  font-size: 3vw;
  font-weight: 800;
}
.wide-text h4 {
  margin-top: 40px;
  padding: 10px 0px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #636363;
}
/* .wide active */
.wide-active .wide-film{
  top: 20%;
}

@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
