/* 와이드 필름 */
.wide {
  height: 1080px;
  display: block;
  position: relative;
}
.wide::before{
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(#c0adb000,#e7d5c5,#e7d5c5,#c0adb000);
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}
.wide-active::before{
  opacity: 1;
}
.wide .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wide-circle {
  position: relative;
  width:45%;
  border-radius: 500px;
  background-color: #fff;
  left: 10%; 
  background: url("../images/film-wide.GIF") no-repeat;
  background-size: cover;
}
.wide-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
  left: 50%;  
}
.wide-point img{
  position: absolute;
  left: 34%;
  bottom: -4%;
  z-index: 999;
  
}
.wide-point2 img{
  position: absolute;
  top: -1%;
  left: -9%;
  z-index: 1;
}
.wide-point-text {
  width: 50%;
  position: absolute;
  color: #000000;
  font-size: 1.3vw;
  font-weight: 400;
  top: 102%;
  right: -17%;
}
.wide-point-text2 {
  width: 50%;
  position: absolute;
  color: #000000;
  font-size: 1.3vw;
  font-weight: 400;
  top: -7%;
  left: -13%;
}

.wide-camera {
  position: absolute;
  width: 84%;
  top: -1%;
  left: -31%;
  transform: translateY(61%);
  z-index: 99;
}
.wide-camera img {
width: 100%;
}
.wide-film{
  position: absolute;
  width: 40%;
  left: -5%;
  top: 60%;
  transition-duration: 1s;
}
.wide-film img{
  width: 100%;
}
.wide-text {
  top: 137px;
  right: 102%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.wide-text h1 {
  color: #000000;
  font-size: 3vw;
  font-weight: 800;
}
.wide-text h4 {
  margin-top: 40px;
  padding: 10px 0px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #636363;
}
/* .wide active */
.wide-active .wide-film{
  top: 20%;
}

@media all and (max-width: 1680px) {
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
  .wide .inner{
    flex-wrap: wrap;
    text-align: center;
  }
  .wide-circle{
    order: 2;
    width: 90%;
  }
  .wide-text {
    order: 1;
    width: 100%;
  }
  .wide-text h1 {
    font-size: 5vw;
   
  }
  .wide-text h4 {
    font-size: 2vw;
  }
  .wide-point,
  .wide-point2 {
    position: static;
    transform: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
   
  }
  .wide-point-text,
  .wide-point-text2 {
    font-size: 3vw;
    display: block;
    margin-top: 5px;
    right: 72%;
  }
  .wide-point-text2{
    left: -32%;
  }
  .wide-point-text{
    left: 63%;
  }
}
@media all and (max-width: 480px) {
  .wide .inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
  }
}


